@tailwind base;
@tailwind components;
@tailwind utilities;

/* MY STYLES */
.carousel-indicators [data-bs-target] {
    background-color: #A3BFD7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#name-error,
#title-error,
#body-error {
    display: flex;
    align-items: center;
    padding: 15px;
    font-family: theme('fontFamily.quicksand');
    font-size: 18px;
    color: red;
}